body, html {
  background: url('../img/crowd-bg2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2  {
  text-align: center;
  font-family: 'Righteous', cursive;
  text-shadow: 2px 2px #06007D;
  margin-top: 200px;
  color: white;
  font-size: 50px;
}

h1  {
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 100px;
  margin-top: 75px;
  color: white;
  text-shadow: 3px 3px #06007D;
  font-size: 117px;
}


.nav-item {
  float: right;
  margin-right: 5px;
}

.brand-name,
.navbar {
  font-size: 30px;
  font-family: 'Righteous', cursive;
  text-shadow: 1px 1px gray;
}

/* search bar */
body {
/*     padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%; */
}


element.style {
    margin-top: 450px;
}

form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 600px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    /* margin: auto;
    display: block; */
}


input{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.bar {
  position: absolute;
}


.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 2s;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

form:hover{
    /*width: 600px;*/
    cursor: pointer;
}


form:hover .fa{
    background: #07051a;
    color: white;
}

#hidden {
  display: none;
}
